{% from "common/macro.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻管理页</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ static('cms/css/cms_base.css')}}">
    <script src="{{ static('cms/js/cms_base.js') }}"></script>

</head>
<body style="overflow-y:scroll;">

<div style="width: 1200px;margin-left: 150px">
    <div>
        <h3 style="text-align: center">垃圾站</h3>
        <a href="{{ url_for('cms.control_news') }}" style="float: right;color: orangered">返回新闻管理页</a>
        <br>
        <a href="{{ url_for('cms.profile') }}" style="float: right;color: orangered">返回首页</a>
    </div>
<form action="" method="post">
    <table class="table table-striped">
        <tr style="background: skyblue">
            <th >新闻ID</th>
            <th>新闻标题</th>
            <th>新闻作者</th>
            <th>新闻发表时间</th>
            <th>新闻来源</th>
            <th></th>
        </tr>

    {% for new in all_news %}
        <tr>
            <td>{{ new.id }}</td>
            <td>{{ new.title }}</td>
            <td>{{ new.author }}</td>
            <td>{{ new.send_time }}</td>
            <td>{{ new.source }}</td>
            <td><a href="{{ url_for('cms.restore_new', new_id=new.id ) }}" class="">还原新闻</a></td>
        </tr>

    {% endfor %}


    </table>

</form>

</div>

</body>
</html>