<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='front/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='front/css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='front/js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='front/js/main.js') }}"></script>
    {% block script %}{% endblock %}
</head>
<body>
<div class="conter_con">
    {% block content %}{% endblock %}
    {% block rigtht %}

        <div class="rank_con fr">
            {% block userBlock %}{% endblock %}
            <div class="rank_title">
                <h3>点击排行</h3>
            </div>
            <ul class="rank_list">

                    <li><span class=""></span>

                    </li>

            </ul>
        </div>
    {% endblock %}

</div>

</body>
</html>