{% extends 'front/front_base.html' %}

{% block title %}
    文章详情页
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='front/js/detail.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="detail_con fl" style="width: 1000px">
        <h3>{{ new_info.title }}</h3>
        <div class="detail_about clearfix">
            <span class="time_souce fl">{{ new_info.send_time }} 来源: {{ new_info.source }}</span>

        </div>
        {{ new_info.content | safe }}
    </div>

    <div><input type="text"></div>





    <form action="" class="comment_form" >
         <div class="person_pic">
             <img src="{{ url_for('static', filename='front/images/cat.jpg') }}" alt="用户图标">
         </div>

        <div>
            <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
            <input type="submit" name="" value="评 论" class="comment_sub">
        </div>
    </form>



{% endblock %}




