{% extends 'front/front_base.html' %}

{% block title %}
    文章详情页
{% endblock %}

    {% block script %}
        <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
{#        <script src="{{ url_for('static', filename='front/js/ajax_1902.js') }}"></script>#}
        <script src="{{ url_for('static', filename='front/js/news_detail.js') }}"></script>
        <script>
            var csrf_token = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        </script>
    {% endblock %}

{% block content %}
    <div class="detail_con fl" style="width: 1000px">
        <h3>{{ new_info.title }}</h3>
        <div class="detail_about clearfix">
            <span class="time_souce fl">{{ new_info.send_time }} 来源: {{ new_info.source }}</span>

        </div>
        {{ new_info.content | safe }}
    </div>

    <div><input type="text" style="width: 1000px;" disabled='disabled'></div>


    <form action="" class="comment_form" >
         <div class="person_pic">
             <img src="{{ url_for('static', filename='front/images/user_pic.png') }}" alt="用户图标">
         </div>

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div>
            <textarea placeholder="登录后，发表您的评论" class="comment_input" id="comment_input"></textarea>
            <input type="submit" id="comment_submit" value="评 论" class="sub comment_sub" style="float: none;margin-left: 30px">
        </div>


            <input type="hidden" name="new_id" value="{{ new_info.id }}" id="new_id"></input>
    </form>



    <br>
    <p>------------------------------------------------------------------------------------------------------------------------------------------------------</p>

    <form action="" class="comment_form" >

         <div class="person_pic">
             <img src="{{ url_for('static', filename='front/images/cat.jpg') }}" alt="用户图标">
         </div>

        <div>
            <textarea placeholder="用户的评论" id="user_comment" style="width: 600px;height: 50px"></textarea>
        </div>

    </form>

   {% for comment in comment_list %}
<form action="" class="comment_form" >
        <div class="person_pic">
             <img src="{{ url_for('static', filename='front/images/cat.jpg') }}" alt="用户图标">
        </div>
        <div>
            <textarea placeholder="用户的评论" id="user_comment" disabled="disabled" style="width: 600px;height: 50px">{{ comment.comment }}</textarea>
        </div>
</form>
   {% endfor %}

{% endblock %}




