{% extends 'cms/base.html' %}

{% block page_title %}
密码修改
{% endblock %}

{% block main_content %}

    <form action="" method="post">
<table class="table table-bordered" >
{#<tr>#}
{#    {% set user = g.cms_user %}#}
{#    <td>用户名</td>#}
{#    <td>{{ user.username }}</td>#}
{#</tr>#}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<tr>
    <td>旧密码</td>
    <td><input type="password" name="old_password"></td>
</tr>
<tr>
    <td>新密码</td>
    <td><input type="password" name="new_password"></td>
</tr>
    <tr>
        <td>重复输入</td>
        <td><input type="password" name="password_repeat"></td>
    </tr>
<tr>{% for i in get_flashed_messages() %}
    <td>{{ i }}
    {% endfor %}</td>
    <td><input type="submit" value="提交更改" name="submit"></td>

</tr>
</table>
    </form>
{% endblock %}