{% extends 'cms/base.html' %}

{% block title %}
个人中心
{% endblock %}


{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
<table class="table table-bordered user_info" >
<tr>
    {% set user = g.cms_user %}
    <td>用户名</td>
    <td>{{ user.username }}</td>
</tr>
<tr>
    <td>邮箱</td>
    <td>{{ user.email }}</td>
</tr>
<tr>
    <td>权限</td>
    <td>无</td>
</tr>
<tr>
    <td>账户创建时间：</td>
    <td>{{ user.join_time }}</td>
</tr>

</table>

{#<div class="user_menu_con fl">#}
{#        <div class="user_center_pic">#}
{##}
{#        </div>#}
{#        <div class="user_center_name"></div>#}
{##}
{#        <ul class="option_list">#}
{#            <li class="active"><a href="/user/base_info" target="main_frame">基本资料</a></li>#}
{#            <li><a href="/user/pic_info" target="main_frame">头像设置</a></li>#}
{#            <li><a href="/user/follow" target="main_frame">我的关注</a></li>#}
{#            <li><a href="/user/pass_info" target="main_frame">密码修改</a></li>#}
{#            <li><a href="/user/collection" target="main_frame">我的收藏</a></li>#}
{#            <li><a href="/user/news_release" target="main_frame">新闻发布</a></li>#}
{#            <li><a href="/user/news_list" target="main_frame">新闻列表</a></li>#}
{#        </ul>#}
{#    </div>#}

{#    <div class="user_con fr">#}
{#        <iframe src="/user/base_info" frameborder="0" name="main_frame" class="main_frame"#}
{#                id="main_frame"></iframe>#}
{#    </div>#}


{% endblock %}