{% extends 'cms/base.html' %}

{% block title %}
个人中心
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
<table class="table table-bordered user_info" >
<tr>
    {% set user = g.cms_user %}
    <td>用户名</td>
    <td>{{ user.username }}</td>
</tr>
<tr>
    <td>邮箱</td>
    <td>{{ user.email }}</td>
</tr>
<tr>
    <td>权限</td>
    <td>无</td>
</tr>
<tr>
    <td>账户创建时间：</td>
    <td>{{ user.join_time }}</td>
</tr>

</table>

{#<table class="change_secret">#}
{#<tr>#}
{#    <td>{{ user.username }}</td>#}
{#</tr>#}
{#</table>#}


{% endblock %}